* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  header {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: space-between;
    align-items: center;
    padding-inline: 20px;
    padding-block: 20px;
    max-width: 1400px;
    width: 100%;
    margin-inline: auto;
    position: unset;

    .logo {
      display: flex;
      flex-direction: row-reverse;
      justify-content: flex-end;
      align-items: center;
      gap: 7px;

      a {
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        gap: 5px;
      }

      h1 {
        font-size: 17px;
        color: var(--h1-color);
        font-weight: 100;
      }

      ion-icon {
        font-size: 15px;
        color: #4960d4;
      }
    }

    .person {
      display: flex;
      gap: 20px;
      align-items: center;

      .signIn,
      .signUp {
        .icon-person {
          font-size: 16px;
          gap: 2px;
          cursor: pointer;
          border: hidden;
          background: transparent;
          display: flex;
          align-items: center;

          p {
            font-size: 13px;
          }

          ion-icon {
            color: #4960d4;
          }
        }
      }
    }

    /* .navbar {
      position: unset;
      top: unset;
      right: unset;
      background-color: unset;
      height: unset;
      width: unset;
      max-width: unset;
      display: unset;
      transform: unset;

      .icons {
        margin-bottom: unset;

        .person {
          display: flex;
          gap: 20px;
          align-items: center;

          .signIn,
          .signUp {
            .icon-person {
              align-items: flex-start;
              font-size: 16px;
              gap: 2px;

              p {
                font-size: 13px;
              }

              ion-icon {
                color: #4960d4;
              }
            }
          }
        }
      }
    } */
  }
}

.main-two {
  background-color: unset;
  width: unset;
  position: unset;
  top: unset;
  left: unset;
  transform: unset;
  transition-duration: unset;
  margin-block: 150px;

  .login-div {
    padding-top: 0;

    .container {
      .formsInt {
        height: unset;

        .formOne {
          height: unset;
        }

        .formTwo {
          position: unset;
          transform: unset;
        }
      }
    }
  }
}

@media (min-width: 425px) {
  body {
    header {
      flex-direction: row;
    }
  }
}

:root {
  --back-form: #ffffff;
  --color-form: #5d5d5d;
  --border-form: #e4e4e4;
  --color-text: black;
  --color-input: #3f3f3f;
  --eye-form: #979797;
  --border-focus: #c2c2c2;
}

:root.active {
  --back-form: #313131;
  --color-form: #c6c6c6e8;
  --border-form: #99999930;
  --color-text: #c6c6c6e8;
  --color-input: #dedede;
  --eye-form: #929292;
  --border-focus: #5e5e5e;
}

.main-two {
  z-index: 89;

  &.active {
    transform: translateY(0%);
  }

  .container {
    .btn-close {
      color: var(--main-icon);
      font-size: 21px;
      width: 20px;
      margin-inline: auto;
      height: unset;

      &:hover {
        color: #f44336b8;
      }

      &:active {
        transform: scale(0.89);
      }
    }

    form {
      width: 100%;
      max-width: 282px;
      margin-inline: auto;
      overflow: hidden;
      position: relative;
      transition-duration: 0.6s;

      .form {
        display: flex;
        justify-content: center;
        flex-direction: column;
        gap: 19px;
        transition-duration: 0.4s;
        background-color: var(--back-form);
        padding-block: 12px;
        padding-inline: 12px;
        border-radius: 6px;

        h1 {
          margin: auto;
          font-size: 20px;
          font-family: system-ui;
          font-weight: 500;
          color: #4960d4;
        }

        .Email,
        .password {
          display: flex;
          flex-direction: column;
          gap: 10px;

          label {
            font-size: 14px;
            font-family: system-ui;
            color: var(--color-form);
          }

          input {
            border: hidden;
            background-color: transparent;
            border: 1px solid var(--border-form);
            padding-block: 8px;
            padding-inline: 7px;
            border-radius: 6px;
            color: var(--color-input);

            &:focus {
              outline: none;
              border: 1px solid var(--border-focus);
            }

            &::placeholder {
              color: #8e8e8e;
              font-size: 12px;
            }
          }
        }

        .Email {
          div {
            position: relative;

            .icon-email {
              position: absolute;
              top: 50%;
              transform: translateY(-50%);
              right: 5px;
              color: var(--eye-form);

              &.active {
                color: var(--eye-form);
              }
            }
          }
        }

        .Email,
        .password {
          input {
            &.false {
              border: 1px solid red;
            }

            &.true {
              border: 1px solid #38ad3c;
            }
          }
        }

        .Email,
        .password {
          div {
            width: 100%;

            input {
              width: 100%;
            }

            .text {
              display: none;

              &.active {
                display: block;
              }

              div {
                display: flex;
                gap: 3px;
                align-items: center;
                margin-top: 2px;

                p {
                  font-size: 13px;
                  font-family: system-ui;
                }
              }
            }
          }
        }

        .password {
          .divPass {
            position: relative;
            display: flex;
            justify-content: end;
            flex-direction: column;

            .icons {
              position: absolute;
              top: 50%;
              right: 0;
              transform: translateY(-50%);
              display: flex;
              justify-content: end;
              padding-inline: 5px;
              flex-direction: row-reverse;
              gap: 5px;
              color: var(--eye-form);
              max-width: 55px;

              .icon-password {
                &.active {
                  color: var(--eye-form);
                }
              }

              .eyeOff {
                cursor: pointer;
              }
            }
          }
        }

        .form-text {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          gap: 4px;

          p,
          span {
            font-size: 13px;
            font-family: system-ui;
            color: var(--color-text);
          }

          p {
            a {
              color: #4960d4;
            }
          }
        }

        .btn-form {
          display: flex;
          gap: 5px;

          .submit {
            border: hidden;
            background-color: transparent;
            background-color: #4960d4;
            color: white;
            padding-block: 10px;
            border-radius: 6px;
            transition: transform 0.2s ease;
            cursor: pointer;
            width: 100%;

            &:active {
              transform: scale(0.95);
            }
          }
        }
      }
    }

    .sign {
      transition-duration: 0.4s;
      display: flex;
      flex-direction: column;
      gap: 11px;
      padding-block: 12px;
      padding-inline: 12px;
      border-radius: 6px;
      background-color: var(--back-form);

      .Insert {
        display: flex;
        gap: 5px;
      }

      h1 {
        margin: auto;
        font-size: 20px;
        font-family: system-ui;
        font-weight: 500;
        color: #4960d4;
        margin-top: 6px;
        margin-bottom: 6px;
      }

      .User {
        display: flex;
        gap: 6px;

        .first,
        .last {
          label {
            font-size: 14px;
            font-family: system-ui;
            color: var(--color-form);
          }

          div {
            input {
              width: 126px;
              border: hidden;
              background-color: transparent;
              border: 1px solid var(--border-form);
              padding-block: 8px;
              padding-inline: 7px;
              border-radius: 6px;
              color: var(--color-input);

              &:focus {
                outline: none;
                border: 1px solid var(--border-focus);
              }
            }
          }
        }
      }

      .first,
      .last,
      .Phone,
      .Email,
      .password,
      .Crossword {
        display: flex;
        flex-direction: column;
        gap: 10px;
      }

      .Phone,
      .Email,
      .password,
      .Crossword {
        label {
          font-size: 14px;
          font-family: system-ui;
          color: var(--color-form);
        }

        input {
          width: 100%;
          border: hidden;
          background-color: transparent;
          border: 1px solid var(--border-form);
          padding-block: 8px;
          padding-inline: 7px;
          border-radius: 6px;
          color: var(--color-input);

          &:focus {
            outline: none;
            border: 1px solid var(--border-focus);
          }
        }
      }

      .form-text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 4px;

        p,
        span {
          font-size: 13px;
          font-family: system-ui;
          color: var(--color-text);
        }

        p {
          a {
            color: #4960d4;
          }
        }
      }

      .sub {
        border: hidden;
        background-color: transparent;
        background-color: #4960d4;
        color: white;
        padding-block: 10px;
        border-radius: 6px;
        transition: transform 0.2s ease;
        cursor: pointer;
        width: 100%;

        &:active {
          transform: scale(0.95);
        }
      }
    }

    .formsInt {
      .formOne {
        transform: translateX(0px);
        height: 100vh;

        &.active {
          transform: translateX(-294px);
        }
      }

      .formTwo {
        /* max-width: 304px; */

        .sign {
          .User {
            .first,
            .last {
              div {
                input {
                  &.false {
                    border: 1px solid red;
                  }

                  &.true {
                    border: 1px solid #38ad3c;
                  }
                }

                .text {
                  display: none;

                  &.active {
                    display: block;
                  }

                  div {
                    display: flex;
                    gap: 3px;
                    align-items: center;
                    margin-top: 2px;

                    p {
                      font-size: 13px;
                      font-family: system-ui;
                    }
                  }
                }
              }
            }
          }

          .User {
            .first {
              .clon1 {
                position: relative;

                .icon-first {
                  position: absolute;
                  top: 50%;
                  transform: translateY(-50%);
                  right: 4px;
                  color: var(--eye-form);

                  &.active {
                    color: var(--eye-form);
                  }
                }
              }
            }

            .last {
              .clon1 {
                position: relative;

                .icon-last {
                  position: absolute;
                  top: 50%;
                  transform: translateY(-50%);
                  right: 4px;
                  color: var(--eye-form);

                  &.active {
                    color: var(--eye-form);
                  }
                }
              }
            }
          }

          .Insert {
            .Phone {
              .clon1 {
                position: relative;

                .icon-phone {
                  position: absolute;
                  top: 50%;
                  transform: translateY(-50%);
                  right: 4px;
                  color: var(--eye-form);

                  &.active {
                    color: var(--eye-form);
                  }
                }
              }
            }

            .Email {
              width: 100%;

              .clon1 {
                position: relative;

                .icon-email {
                  position: absolute;
                  top: 50%;
                  transform: translateY(-50%);
                  right: 4px;
                  color: var(--eye-form);

                  &.active {
                    color: var(--eye-form);
                  }
                }
              }
            }
          }

          .password,
          .Crossword {
            .divPass {
              position: relative;
              display: flex;
              justify-content: end;
              flex-direction: column;

              .icons {
                position: absolute;
                top: 50%;
                right: 0;
                transform: translateY(-50%);
                display: flex;
                justify-content: end;
                padding-inline: 5px;
                flex-direction: row-reverse;
                gap: 5px;
                color: var(--eye-form);
                max-width: 55px;

                .eyeOff {
                  cursor: pointer;
                }
              }
            }
          }

          .password {
            .divPass {
              .icons {
                .icon-password {
                  &.active {
                    color: var(--eye-form);
                  }
                }
              }
            }
          }

          .Crossword {
            .divPass {
              .icons {
                .icon-crossword {
                  &.active {
                    color: var(--eye-form);
                  }
                }
              }
            }
          }

          .Phone,
          .Email,
          .password,
          .Crossword {
            div {
              input {
                &.false {
                  border: 1px solid red;
                }

                &.true {
                  border: 1px solid #38ad3c;
                }
              }

              .text {
                display: none;

                &.active {
                  display: block;
                }

                div {
                  display: flex;
                  gap: 3px;
                  align-items: center;
                  margin-top: 2px;

                  p {
                    font-size: 13px;
                    font-family: system-ui;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

@media (min-width: 375px) {
  body {
    header {
      padding-inline: 30px;
    }
  }
}

@media (min-width: 425px) {
  body {
    header {
      padding-inline: 35px;
    }
  }
}

@media (min-width: 640px) {
  body {
    header {
      padding-inline: 40px;
    }
  }
}

@media (min-width: 768px) {
  body {
    header {
      padding-inline: 60px;
    }
  }
}

@media (min-width: 992px) {
  body {
    header {
      padding-inline: 80px;
    }
  }
}

@media (min-width: 1200px) {
  body {
    header {
      padding-inline: 100px;
    }
  }
}

@media (min-width: 1400px) {
  body {
    header {
      padding-inline: 150px;
    }
  }
}

/* @include parent(medium) {
  .main-two .login-div {
    padding-top: 20px;
  }

  .main-two .login-div .container {
    gap: 20px;
  }

  .main-two .login-div .container .sign .form-text {
    margin-block: 5px;
  }
}

@include parent(mobile) {
  .main-two .login-div {
    padding-top: 48px;
  }
} */
